<div class="row">
    <a asp-controller="Statistics" asp-action="ShowExpendituresByCategory">Expenditures by category - chart</a><br />
    <a asp-controller="Statistics" asp-action="ShowExpendituresByCategoryInTable">Expenditures by category - table</a><br />
    <a asp-controller="Statistics" asp-action="ShowExpendituresByCategoryInTableFilterByMonth">Expenditures by category filter by month and year - table</a><br />
    <br /><br />
    <a asp-controller="Statistics" asp-action="ShowExpendituresByCategoryFilterByMonth">Expenditures by category filter by month and year - chart</a><br />

</div>